﻿@model MVCBase.CalculosKendall

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CalculosKendall</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idEncuesta, "idEncuesta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEncuesta", String.Empty)
                @Html.ValidationMessageFor(model => model.idEncuesta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.k, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.k)
                @Html.ValidationMessageFor(model => model.k)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.m, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.m)
                @Html.ValidationMessageFor(model => model.m)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dvsq, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dvsq)
                @Html.ValidationMessageFor(model => model.dvsq)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.w, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.w)
                @Html.ValidationMessageFor(model => model.w)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.r, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.r)
                @Html.ValidationMessageFor(model => model.r)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.xsquare, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.xsquare)
                @Html.ValidationMessageFor(model => model.xsquare)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.df, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.df)
                @Html.ValidationMessageFor(model => model.df)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p)
                @Html.ValidationMessageFor(model => model.p)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
