﻿@model MVCBase.CalculosKendall

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CalculosKendall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.k)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dvsq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dvsq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.w)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.w)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.r)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xsquare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xsquare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.df)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.df)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncuestaMaster.idEncuestaMaster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncuestaMaster.idEncuestaMaster)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
