﻿@model MVCBase.CalculosKendall

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CalculosKendall</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.k)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.k)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dvsq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dvsq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.w)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.w)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.r)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xsquare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xsquare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.df)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.df)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncuestaMaster.idEncuestaMaster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncuestaMaster.idEncuestaMaster)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCalculo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
