﻿@model IEnumerable<MVCBase.CalculosKendall>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
@{
    var history = (bool) ViewBag.History;
    if (!history)
    {
        @Html.ActionLink("Regresar a la seleccion de encuestados", "Index", "Statistics", null, new {@class = "btn btn-primary"})
    }
<br/>
<br/>
<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nominados")
        </th>
        <th>
            K
        </th>
        <th>
            M
        </th>
        <th>
            DVSQ
        </th>
        <th>
            W
        </th>
        <th>
            R
        </th>
        <th>
            X²
        </th>
        <th>
            DF
        </th>
        <th>
            P
        </th>
    </tr> 

@foreach (var item in Model)
{
    @Html.HiddenFor(x => item.idCalculo)
    <tr>
        <td>
            @{
                var masterEncuestas = item.CalculosKendallDetail.Where(x => x.idCalculo == item.idCalculo).ToList();
                var encs = masterEncuestas.Select(x => x.EncuestaMaster).ToList();
                var noms = encs.Select(x => x.Nominados).ToList();
                var nombres = String.Join(", ", noms.Select(x => x.nombreNominado.Trim()));
            }
            @nombres
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.k)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dvsq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.w)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.xsquare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.df)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p)
        </td>
    </tr>
}

</table>
<br/>
    if (!history)
    {
        @Html.ActionLink("Finalizar Calculo", "EndKendall", null, new {@class = "btn btn-primary"})
    }
}