﻿@model MVCBase.CalculosKappa

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CalculosKappa</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.m, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.m)
                @Html.ValidationMessageFor(model => model.m)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.n, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.n)
                @Html.ValidationMessageFor(model => model.n)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pa)
                @Html.ValidationMessageFor(model => model.Pa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pe, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pe)
                @Html.ValidationMessageFor(model => model.Pe)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kappa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kappa)
                @Html.ValidationMessageFor(model => model.Kappa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.se, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.se)
                @Html.ValidationMessageFor(model => model.se)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.z, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.z)
                @Html.ValidationMessageFor(model => model.z)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pvalue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pvalue)
                @Html.ValidationMessageFor(model => model.pvalue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.alpha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.alpha)
                @Html.ValidationMessageFor(model => model.alpha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lower, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lower)
                @Html.ValidationMessageFor(model => model.lower)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.upper, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.upper)
                @Html.ValidationMessageFor(model => model.upper)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.qyes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qyes)
                @Html.ValidationMessageFor(model => model.qyes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.qno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qno)
                @Html.ValidationMessageFor(model => model.qno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.byes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.byes)
                @Html.ValidationMessageFor(model => model.byes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bno)
                @Html.ValidationMessageFor(model => model.bno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kyes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kyes)
                @Html.ValidationMessageFor(model => model.kyes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kno)
                @Html.ValidationMessageFor(model => model.kno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.seyes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.seyes)
                @Html.ValidationMessageFor(model => model.seyes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.seno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.seno)
                @Html.ValidationMessageFor(model => model.seno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zyes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zyes)
                @Html.ValidationMessageFor(model => model.zyes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zno)
                @Html.ValidationMessageFor(model => model.zno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pyes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pyes)
                @Html.ValidationMessageFor(model => model.pyes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pno)
                @Html.ValidationMessageFor(model => model.pno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha)
                @Html.ValidationMessageFor(model => model.fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado)
                @Html.ValidationMessageFor(model => model.estado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuario)
                @Html.ValidationMessageFor(model => model.usuario)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
