﻿@model MVCBase.CalculosKappa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CalculosKappa</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kappa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kappa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.se)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.se)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.z)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.z)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pvalue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pvalue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alpha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alpha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.upper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.upper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qyes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qyes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.byes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.byes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kyes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kyes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seyes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seyes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zyes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zyes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pyes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pyes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCalculoKappa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
