﻿@model IEnumerable<MVCBase.CalculosKappa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            M
        </th>
        <th>
            N
        </th>
        <th>
            PA
        </th>
        <th>
            PE
        </th>
        <th>
            KAPPA
        </th>
        <th>
            SE
        </th>
        <th>
            Z
        </th>
        <th>
            PVALUE
        </th>
        <th>
            ALPHA
        </th>
        <th>
            LOWER
        </th>
        <th>
            UPPER
        </th>
        <th>
            Qsi
        </th>
        <th>
            Qno
        </th>
        <th>
            Bsi
        </th>
        <th>
            Bno
        </th>
      @*  <th>
            @Html.DisplayNameFor(model => model.kyes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kno)
        </th>*@
        <th>
            SEsi
        </th>
        <th>
            SEno
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.zyes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zno)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.pyes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pno)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.m)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.n)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kappa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.se)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.z)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pvalue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alpha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.upper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qyes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.byes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bno)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.kyes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kno)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.seyes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seno)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.zyes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zno)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.pyes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pno)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCalculoKappa }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCalculoKappa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCalculoKappa })
        </td>*@
    </tr>
}

</table>
