﻿@model MVCBase.Nominados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nominados</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreNominado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreNominado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interesado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interesado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresas.descripcionEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresas.descripcionEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puestos.descripcionPuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puestos.descripcionPuesto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idNominado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
