﻿@model MVCBase.Nominados

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Nominados</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idNominado)

        <div class="form-group">
            @Html.LabelFor(model => model.nombreNominado, "Nombre", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreNominado)
                @Html.ValidationMessageFor(model => model.nombreNominado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idEmpresa, "Empresa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEmpresa", String.Empty)
                @Html.ValidationMessageFor(model => model.idEmpresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPuesto, "Puesto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPuesto", String.Empty)
                @Html.ValidationMessageFor(model => model.idPuesto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo, "Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo)
                @Html.ValidationMessageFor(model => model.correo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono, "Telefono", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono)
                @Html.ValidationMessageFor(model => model.telefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.extension, "Extension", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.extension)
                @Html.ValidationMessageFor(model => model.extension)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.celular, "Tel. Movil", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.celular)
                @Html.ValidationMessageFor(model => model.celular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.interesado, "Interesado", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.interesado)
                @Html.ValidationMessageFor(model => model.interesado)
            </div>
        </div>

        @Html.HiddenFor(model => model.activo)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
