﻿@model IEnumerable<MVCBase.Nominados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Email
        </th>
        <th>
            Telefono
        </th>
        <th>
            Extension
        </th>
        <th>
            Tel. Movil
        </th>
        <th>
            Interesado
        </th>
        <th>
            Empresa
        </th>
        <th>
            Puesto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreNominado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.interesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresas.descripcionEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puestos.descripcionPuesto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.idNominado}) |                
                <a href="#" onclick="modalClick('@item.nombreNominado.Trim()', '@item.idNominado')">Delete</a>
            </td>
        </tr>
    }

</table>

<div id="selectModal" title="Advertencia" style="overflow: hidden; background-color: white; border-bottom-width: 5px; background-color: white">
   
</div>

<script>
    function modalClick(text, id) {
        var modal = document.getElementById("selectModal");
        modal.innerHTML = " <form method=\"POST\" action=\"@Url.Action("Delete")/" + id + "\"> <br />" +
            "<div>Esta seguro que desea eliminar el registro: <strong>" + text + "?</strong></div>" +
               "<input type=\"hidden\" name\"id\" value=\"" + id + "\" />" +
            "<div> <br />" +
            "<input type=\"submit\" class=\"btn btn-primary\" value=\"Eliminar\" />" +
            "</div>" +
            "</form>";
        InitPopup($("#selectModal"), "Advertencia");
        $("#selectModal").dialog("open");
        $("#selectModal").dialog('widget').position({
            my: "center",
            at: "center",
            of: "window"
        });
    }

    function InitPopup($element, title) {
        $element.dialog({
            autoOpen: false,
            width: "auto",
            height: "auto",
            resizable: true,
            draggable: true,
            title: title,
            modal: true,
            my: "center",
            at: "center",
            of: "window",
            show: 'slide',
            closeText: 'X',
            dialogClass: 'alert',
            closeOnEscape: true,
            open: function(event, ui) {
                $(".ui-widget-overlay").click(function() {
                    $("#selectModal").dialog("close");
                });
            },
            close: function() {
                $(this).dialog('close');
            }
        });
    }

</script>
