﻿@model MVCBase.EncuestasDetalle

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EncuestasDetalle</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idEncuestaDetalle)

        <div class="form-group">
            @Html.LabelFor(model => model.idEncuesta, "Encuesta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEncuesta")
                @Html.ValidationMessageFor(model => model.idEncuesta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPrioridad, "Prioridad", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPrioridad", String.Empty)
                @Html.ValidationMessageFor(model => model.idPrioridad)
            </div>
        </div>

        @Html.HiddenFor(model => model.activo)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
