﻿@model MVCBase.Envios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Envios</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncuestasMaster.descripcionEncuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncuestasMaster.descripcionEncuesta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nominados.nombreNominado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nominados.nombreNominado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEnvio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
