﻿@model MVCBase.Envios

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Envios</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idEnvio)

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha)
                @Html.ValidationMessageFor(model => model.fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idNominado, "idNominado", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idNominado", String.Empty)
                @Html.ValidationMessageFor(model => model.idNominado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idEncuesta, "idEncuesta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEncuesta", String.Empty)
                @Html.ValidationMessageFor(model => model.idEncuesta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.state, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.state)
                @Html.ValidationMessageFor(model => model.state)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
