﻿@model List<MVCBase.Envios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function selectAll(chk) {
        if ($(chk).prop('checked') == true)
            $('.chkNominado').each(function () { this.checked = true });
        else
            $('.chkNominado').each(function () { this.checked = false });
    }
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th><input type="checkbox" onchange="selectAll($(this))"/></th>
        <th>
            Fecha
        </th>
        <th>
            Estado
        </th>
        <th>
            Descripcion Encuesta
        </th>
        <th>
            Nombre Nominado
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.CheckBox("nominados[" + i + "].Check", nominado.Check, new { @class = "chkNominado"})</td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EncuestasMaster.descripcionEncuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nominados.nombreNominado)
        </td>
    </tr>
}

</table>
