﻿@model List<NominadoViewModel>

<table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
	<thead>
	<tr>
	    <th class="hasinput" style="width: 0%"></th>
	    <th class="hasinput" style="width: 40%">
	        <input class="form-control" placeholder="Nombre" type="text">
	    </th>
	    <th class="hasinput" style="width: 25%">
	        <input type="text" class="form-control" placeholder="Empresa"/>
	    </th>
	    <th class="hasinput" style="width: 21%">
	        <input type="text" class="form-control" placeholder="Puesto"/>
	    </th>
	    <th class="hasinput" style="width: 14%">
	        <input type="text" class="form-control" placeholder="Anios de Experiencia"/>
	    </th>
	</tr>
	<tr>	    
	    <th data-hide="phone,tablet"><input type="checkbox" onchange="selectAll($(this))"/></th>
	    <th data-class="expand">Nombre</th>
	    <th data-hide="phone">Empresa</th>
	    <th data-hide="phone">Puesto</th>
	    <th data-hide="phone">Anios de Experiencia</th>
	</tr>    
	</thead>
    <tbody>
    @{
        var i = 0;
        foreach (var nominado in Model)
        {
            <tr class="nominados">
                <td>@Html.CheckBox("nominados[" + i + "].Check", nominado.Check, new { @class = "chkNominado"})</td>
                <td>@nominado.Nombre@Html.Hidden("nominados[" + i + "].IdNominado", nominado.IdNominado)</td>
                <td>@nominado.Empresa</td>
                <td>@nominado.Puesto</td>
                <td>@nominado.Years</td>
                <td></td>
            </tr>
            i = i + 1;                                 
        }
    }
    </tbody>
</table>