﻿@model MVCBase.Grupos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function addEmpresaItem(val, display) {
        if (allow($('#empresas>option'), val)) {
            $('<option>', { value: val, text: display }).appendTo('#empresas');
            $('#codsEmpresas').val($('#codsEmpresas').val() + val + ',');
        }
    }
    function addPuestoItem(val, display) {
        if (allow($('#puestos>option'), val)) {
            $('<option>', { value: val, text: display }).appendTo('#puestos');
            $('#codsPuestos').val($('#codsPuestos').val() + val + ',');
        }
    }
    function allow(opts, val) {
        var allowit = true;
        $(opts).each(function() {
            if ($(this).val() == val) allowit = false;
        });
        return allowit;
    }
    function performSubmit() {
        if ($('#datatable_fixed_column tbody tr.nominados').length > 0)
            return true;
        else {
            showMessage();
            return false;
        }            
    }

    $(document).ready( function() {

        $('#removeEmpresa').click(function () {
            var val = $('#empresas option:selected').val();
            $('#empresas option:selected').remove();                
            $('#codsEmpresas').val(($('#codsEmpresas').val().remove(val + ',')));
        });
            
        $('#removePuesto').click(function () {                
            var val = $('#puestos option:selected').val();
            $('#puestos option:selected').remove();
            $('#codsPuestos').val(($('#codsPuestos').val().remove(val + ',')));
        });

        $('#clearEmpresas').click(function () {
            $('#empresas option').remove();
            $('#codsEmpresas').val('');
        });

        $('#clearPuestos').click(function () {
            $('#puestos option').remove();
            $('#codsPuestos').val('');
        });

        }
    );
</script>

@using (Html.BeginForm("Create", "Grupos", FormMethod.Post, new { onsubmit = "performSubmit()" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    
    @Html.ValidationSummary(true)

    <!-- widget grid -->
    <section id="widget-custom" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-11">

                @*<a class="btn btn-primary" onclick="addInfoDano($('#container'), $('#widgroup-id-1'), $('#container'), '0')" style="cursor:pointer; margin-bottom:1%">Agregar Filtro</a>*@
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="widgroup-id-1" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Filtro </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <br/>
                            <div class="form-group">
                                <label for="idEmpresa" class="control-label col-md-2">Empresa</label>
                                <div class="col-md-6">
                                    @Html.DropDownList("idEmpresa", (ViewBag.empresas as SelectList), new {id = "idEmpresa", @class = "form-control"})
                                    @Html.ValidationMessage("idEmpresa")
                                </div>
                                <div class="col-md-2"><a class="btn btn-primary btn-circle"
                                                         onclick="addEmpresaItem($('#idEmpresa').val(), $('#idEmpresa option:selected').text())"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                <input type="hidden" id="codsEmpresas"/>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-md-2"></label>
                                <div class="col-md-6">
                                    <select id="empresas" multiple="multiple" class="form-control custom-scroll"></select>
                                </div>
                                <div class="col-md-1" style="padding-top: 1%">
                                    <a class="btn btn-danger btn-circle" id="removeEmpresa"><i class="glyphicon glyphicon-minus"></i></a>
                                    <a class="btn btn-success btn-circle" id="clearEmpresas"><i class="glyphicon glyphicon-repeat"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="idPuesto" class="control-label col-md-2">Puesto</label>
                                <div class="col-md-6">
                                    @Html.DropDownList("idPuesto", (ViewBag.puestos as SelectList), new {id = "idPuesto", @class = "form-control"})
                                    @Html.ValidationMessage("idPuesto")
                                </div>
                                <div class="col-md-2"><a class="btn btn-primary btn-circle" onclick="addPuestoItem($('#idPuesto').val(), $('#idPuesto option:selected').text())"><i class="glyphicon glyphicon-plus"></i></a>
                                    <input type="hidden" id="codsPuestos"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-md-2"></label>
                                <div class="col-md-6">
                                    <select id="puestos" multiple="multiple" class="form-control custom-scroll"></select>
                                </div>
                                <div class="col-md-1" style="padding-top: 1%">
                                    <a class="btn btn-danger btn-circle" id="removePuesto" onclick="$('#puestos option:selected').remove()"><i class="glyphicon glyphicon-minus"></i></a>
                                    <a class="btn btn-success btn-circle" id="clearPuestos"><i class="glyphicon glyphicon-repeat"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="anios" class="control-label col-md-2">Años</label>
                                <div class="col-md-1">
                                    <input type="number" id="anios" name="anios" class="form-control"/>
                                    @Html.ValidationMessage("anios")
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a class="btn btn-primary" onclick="getNominados($('#codsEmpresas').val(), $('#codsPuestos').val(), $('#anios').val())" style="cursor: pointer; margin-bottom: 1%">Consultar</a>
                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->
                         
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>

        </div>

        <!-- end row -->

        <!-- end row -->

    </section>
    <!-- end widget grid -->

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-primary" onclick="" style="cursor: pointer; margin-bottom: 1%" value="Enviar"/>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-11">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Nominados </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div id="divGrid" class="widget-body no-padding">
                            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th class="hasinput" style="width: 0%"></th>
                                    <th class="hasinput" style="width: 40%">
                                        <input class="form-control" placeholder="Nombre" type="text">
                                    </th>
                                    <th class="hasinput" style="width: 25%">
                                        <input type="text" class="form-control" placeholder="Empresa"/>
                                    </th>
                                    <th class="hasinput" style="width: 21%">
                                        <input type="text" class="form-control" placeholder="Puesto"/>
                                    </th>
                                    <th class="hasinput" style="width: 14%">
                                        <input type="text" class="form-control" placeholder="Anios de Experiencia"/>
                                    </th>
                                </tr>
                                <tr>
                                    <th data-hide="phone,tablet"><input type="checkbox" onclick="selectAll($(this))"/></th>
                                    <th data-class="expand">Nombre</th>
                                    <th data-hide="phone">Empresa</th>
                                    <th data-hide="phone">Puesto</th>
                                    <th data-hide="phone">Años de Experiencia</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>

        </div>

        <!-- end row -->

        <!-- end row -->

    </section>
    <!-- end widget grid -->

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    
    function selectAll(chk) {
        if ($(chk).prop('checked') == true)
            $('.chkNominado').each(function () { this.checked = true });
        else
            $('.chkNominado').each(function () { this.checked = false });
    }

    function getNominados(idEmpresa, idPuesto, anios) {
        if (anios == "") anios = 0;
        $.ajax({ url: '/Grupos/PartialNominados', async: false, data: { empresas: idEmpresa, puestos: idPuesto, anios: anios } }).success(function (info) {
            if(info != "") $('#divGrid').html(info);
        });
    }

    function showMessage() {
        var message = "La lista de nominados debe tener al menos un registro.";
        var color = "#C46A69";
        $.smallBox({
            title: "Asosiacion Hondureña de Maquiladores",
            content: "<i class='fa fa-clock-o'></i> <i>" + message + "</i>",
            color: color,
            iconSmall: "fa fa-times fa-2x fadeInRight animated",
            timeout: 4000
        });
    }
    
    function deleteItem(element, classToFind) {
        var count = $(classToFind).length;
        if (count == 1) showMessage("Debe ingresar al menos un elemento", '#C46A69');
        else element.closest(classToFind).remove();
    }

    function addInfoDano(mainContainer, element, container, initIndex) {
        var id = mainContainer.data('id');
        var newId = id + 1;
        var html = $(element).prop('outerHTML');
        var newHtml = html.replace(new RegExp('\\[.*?\\]', 'g'), '[' + newId + ']').replace(new RegExp('_.*?__', 'g'), '_' + newId + '__');        
        container.append(newHtml);
        mainContainer.data('id', newId);
    }
</script>