﻿
@{
    ViewBag.Title = "SETD";
}

<div class="jumbotron">
    <h1>Prioridades Competitivas y AMTs</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <table>

        </table>
    </div>
</div>