﻿@model IEnumerable<MVCBase.Configs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Configuracion
        </th>
        <th>
            Valor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.config)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.config}) |
            @Html.ActionLink("Details", "Details", new {id = item.config}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.config})
        </td>
    </tr>
}

</table>
