﻿@model MVCBase.EncuestaMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h2></h2>
<script src="~/Scripts/datePickerScript.js"></script>
<link href="~/css/Radios.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript">
    function checkIfAlreadySelected(mClass, element) {
        var elements = $('.' + mClass);
        for (i = 0; i < elements.length; i++) {
            if ($(elements[i]).prop('checked')) {
                if (!$(elements[i]).is($(element)[0])) {
                    $(element).attr('checked', false);
                    showMessage("Esta opcion ya esta seleccionada.");
                }
            }
        }
    }
    function performSubmit() {
        var elements = $('.option:checked');
        var complete = true;
        $(elements).each(function () {            
            if ($(this).val() == -1) {
                showMessage("Debe responder todas las preguntas.");
                complete = false;
                return false;
            }
        });
        return complete;
    }
    function showMessage(mensaje) {
        var message = null;
        var color = null;       
        message = "";
        color = "#C46A69";                            
        $.smallBox({
            title: mensaje,
            content: "<i class='fa fa-clock-o'></i> <i>" + message + "</i>",
            color: color,
            iconSmall: "fa fa-times fa-2x fadeInRight animated",
            timeout: 4000
        });        
    }
</script> 
@using (Html.BeginForm("Create", "Encuestas", FormMethod.Post, new { onsubmit = "return performSubmit()"}))
{
    
    @Html.AntiForgeryToken()

    <!-- NEW ROW -->
    @Html.HiddenFor(model => model.idEncuesta)
				@Html.HiddenFor(model => model.usuario)
    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Nueva Encuesta </h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        @if (Model.idEncuesta == 1)
                        {
                            <br/>
                            <div><strong>- 1 Menor Importancia</strong>
                            </div>
                            <div><strong>- N Mayor Importancia</strong>
                            </div>
                        }
                        <div class="form-horizontal">
                            @*        <h4>Inspeccion</h4>
                                    <hr />*@
                            <br/>
                            <br/>
                            @Html.ValidationSummary(true)
                            <br/>
                            <br/>

                            <!-- widget grid -->
                            <section id="widget-grid" class="">

                                <!-- row -->
                                <div class="row">

                                    <!-- NEW WIDGET START -->
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-11">

                                        <!-- Widget ID (each widget will need unique ID)-->
                                        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" style="margin-left: 2%">

                                            <header>
                                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                <h2>Encuesta </h2>

                                            </header>

                                            <!-- widget div-->
                                            <div>

                                                <!-- widget edit box -->
                                                <div class="jarviswidget-editbox">
                                                    <!-- This area used as dropdown edit box -->

                                                </div>
                                                <!-- end widget edit box -->

                                                <!-- widget content -->
                                                <div class="widget-body no-padding">
                                                    <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                                                        @{
                                                            int i = 0;
                                                            foreach (var mPrioridad in ViewBag.prioridades as List<Prioridades>)
                                                            {
                                                                <tr class="info"><td>@mPrioridad.descripcionPrioridad</td><td></td></tr>
                                                                List<Conceptos> mConceptos = (ViewBag.conceptos as List<Conceptos>);
                                                                mConceptos = mConceptos.Where(x => x.idPrioridad.Equals(mPrioridad.idPrioridad)).OrderBy(x => x.orden).ToList();
                                                                foreach (var mConcepto in mConceptos)
                                                                {
                                                                    var mEncuestaDetalle = Model.EncuestaDetalle.Where(x => x.idConcepto == mConcepto.idConcepto).ElementAtOrDefault(0);
                                                                    i = Model.EncuestaDetalle.ToList().IndexOf(mEncuestaDetalle);
                                                                    <tr>
                                                                        <td>
                                                                            @mConcepto.descripcionConcepto<br/>
                                                                            <p style="font-size: x-small; font-style: italic">@mConcepto.descripcionConcepto</p>
                                                                        </td>
                                                                        @Html.Hidden("EncuestaDetalle[" + i + "].idPrioridad", (Model.EncuestaDetalle as List<EncuestaDetalle>)[i].idPrioridad)
                                                                        @Html.Hidden("EncuestaDetalle[" + i + "].idConcepto", (Model.EncuestaDetalle as List<EncuestaDetalle>)[i].idConcepto)
                                                                        <td>
                                                                            @{
                                                                                int j = 0;
                                                                                if (Model.idEncuesta == 1)
                                                                                {
                                                                                    <input type="radio" hidden class="option" name="@("EncuestaDetalle[" + i + "].respuesta")" value="-1" checked="checked">
                                                                                    foreach (var conceptForOptions in mConceptos)
                                                                                    {
                                                                                        j++;
                                                                                        var mClass = (mPrioridad.descripcionPrioridad.Trim() + j);
                                                                                        <input type="radio" onchange="checkIfAlreadySelected('@mClass', $(this))" class="@(mClass + " option")" id="@(j.ToString() + i)" name="@("EncuestaDetalle[" + i + "].respuesta")" value="@j" checked="@((Model.EncuestaDetalle.ElementAtOrDefault(i).respuesta == 1) ? true : false)">
                                                                                        <label for="@(j.ToString() + i)" style="font-weight: bold">
                                                                                            @j
                                                                                        </label>
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="radio" id="@(i + "Si")" name="@("EncuestaDetalle[" + i + "].respuesta")" value="1" class="option">
                                                                                    <label for="@(i + "Si")" style="font-weight: bold">
                                                                                        Si
                                                                                    </label>
                                                                                    <input type="radio" id="@(i + "No")" name="@("EncuestaDetalle[" + i + "].respuesta")" value="2" class="option">
                                                                                    <label for="@(i + "No")" style="font-weight: bold">
                                                                                        No
                                                                                    </label>
                                                                                    <input type="radio" hidden class="option" name="@("EncuestaDetalle[" + i + "].respuesta")" value="-1" checked="checked">
                                                                                }
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                        }
                                                    </table>

                                                </div>
                                                <!-- end widget content -->

                                            </div>
                                            <!-- end widget div -->

                                        </div>
                                        <!-- end widget -->

                                    </article>

                                </div>

                                <!-- end row -->

                                <!-- end row -->

                            </section>
                            <!-- end widget grid -->
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </div>     
    bool Preview = (bool) ViewBag.Preview;
    if(!Preview)
    {
        <div style="padding-bottom: 15px">
            <input type="submit" value="Create" class="btn btn-info btn-lg"/>
        </div>
    }
        
}