﻿@model IEnumerable<EncuestaMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function selectAll(chk) {
        if ($(chk).prop('checked') == true)
            $('.chkNominado').each(function () { this.checked = true });
        else
            $('.chkNominado').each(function () { this.checked = false });
    }
    function performSubmit() {
        if ($('.ckNominados > cheked').length > 0)
            return true;
        else {
            showMessage();
            return false;
        }
    }
    function showMessage() {
        var message = "La lista de jueces debe tener al menos un registro.";
        var color = "#C46A69";
        $.smallBox({
            title: "Asosiacion Hondureña de Maquiladores",
            content: "<i class='fa fa-clock-o'></i> <i>" + message + "</i>",
            color: color,
            iconSmall: "fa fa-times fa-2x fadeInRight animated",
            timeout: 4000
        });
    }
</script>
@*<h2></h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm" })
    <br />
</p>*@

@*<!DOCTYPE html>
<html lang="en-us">*@
@*	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title> SmartAdmin </title>
		<meta name="description" content="">
		<meta name="author" content="">
			
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-skins.min.css">

		<!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-rtl.min.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="~/css/demo.min.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="~/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="~/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="~/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="~/img/splash/touch-icon-ipad-retina.png">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="~/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="~/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="~/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	</head>*@
	@*<body class="">



		<!-- MAIN PANEL -->
		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content">*@
@using(Html.BeginForm())
{

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Respuestas </h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th class="hasinput" style="width: 5%">
                                    <th class="hasinput" style="width: 5%">
                                        <input class="form-control" placeholder="Id" type="text">
                                    </th>
                                    <th class="hasinput" style="width: 20%">
                                        <input class="form-control" placeholder="Nombre" type="text">
                                    </th>
                                    <th class="hasinput icon-addon" style="width: 95%">
                                        <input id="dateselect_filter" type="text" placeholder="Fecha" class="form-control datepicker" data-dateformat="dd/mm/yy">
                                        <label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Filter Date"></label>
                                    </th>
                                    @{
                                        var prioridades = ViewBag.prioridades as List<Prioridades>;
                                        foreach (var prioridad in prioridades)
                                        {
                                            foreach (var componente in prioridad.Conceptos)
                                            {
                                                <th class="hasinput" style="width: 10%">
                                                    <input type="text" class="form-control" placeholder="@componente.descripcionConcepto"/>
                                                </th>
                                            }
                                        }
                                    }
                                </tr>
                                <tr>
                                    <th><input type="checkbox" onchange="selectAll($(this))"/></th>
                                    <th data-class="expand">Id</th>
                                    <th data-hide="phone">Nombre</th>
                                    <th data-hide="phone">Fecha</th>
                                    @{
                                        foreach (var prioridad in prioridades)
                                        {
                                            foreach (var componente in prioridad.Conceptos)
                                            {
                                                <th data-hide="phone">@componente.descripcionConcepto</th>
                                            }
                                        }
                                    }
                                </tr>
                            </thead>

                            <tbody>
                            @{
                                int i = 0;
                                foreach (var item in Model)
                                {                                    
                                    <tr class="encuesta">
                                        <td>@Html.CheckBox("encuestas[" + i + "].Check", false, new { @class = "chkNominado" }) @Html.Hidden("encuestas[" + i + "].IdNominado", item.Nominados.idNominado) @Html.Hidden("encuestas[" + i + "].IdEncuesta", item.idEncuesta)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.idEncuestaMaster)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nominados.nombreNominado)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.fecha)
                                        </td>
                                        @{
                                            i = i + 1;
                                            foreach (var prioridad in prioridades)
                                            {
                                                foreach (var componente in prioridad.Conceptos)
                                                {
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EncuestaDetalle.FirstOrDefault(x => x.idConcepto == componente.idConcepto).respuesta)
                                                    </td>
                                                }
                                            }
                                        }
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>

    </div>
    <input type="submit" value="Calcular" class="btn btn-primary"/>
    <!-- end row -->

    <!-- end row -->

</section>
}
@*			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->*@

@*@section Scripts
{*@
    @Scripts.Render("~/bundles/jqueryval")
@*}*@
		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		@*<script data-pace-options='{ "restartOnRequestAfter": true }' src="~/js/plugin/pace/pace.min.js"></script>*@

@*		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script>
		    if (!window.jQuery) {
		        document.write('<script src="~/js/libs/jquery-2.0.2.min.js"><\/script>');
		    }
		</script>

		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script>
		    if (!window.jQuery.ui) {
		        document.write('<script src="~/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
		    }
		</script>*@

		<!-- IMPORTANT: APP CONFIG -->
		@*<script src="~/js/app.config.js"></script>*@

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		@*<script src="~/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>*@ 

		<!-- BOOTSTRAP JS -->
		@*<script src="~/js/bootstrap/bootstrap.min.js"></script>*@

		<!-- CUSTOM NOTIFICATION -->
		@*<script src="~/js/notification/SmartNotification.min.js"></script>*@

		<!-- JARVIS WIDGETS -->
		@*<script src="~/js/smartwidgets/jarvis.widget.min.js"></script>*@

		<!-- EASY PIE CHARTS -->
		@*<script src="~/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>*@
        
        <script>
            function postForm() {
                var mClient = new XMLHttpRequest();
                var mData = new FormData();
                //mData.append("idInspeccion", 1);
                //mData.append("comment", document.getElementById("comment").textContent);                
                //mData.append("file", document.getElementById("file").files[0]);
                mClient.open("POST", "@Url.Action("Adjunto")", false);
                //mClient.setRequestHeader("Content-Type", "application/json");
                //mClient.setRequestHeader("Content-Type", "multipart/form-data");
                mData = $("#formAdjunto").serialize();                
                mClient.send(mData);
        @*        $.ajax({
                    url: "@Url.Action("Adjunto")",
                    type: "POST",
                    async: false,
                    contentType: "application/json",
                    dataType: "json",
                    data: mData,
                    error: customError(xhr, status, error)
                    //{
                    //    idInspeccion: 1,
                    //    comment: document.getElementById("comment").textContent,
                    //    file: document.getElementById("file").value
                    //}
                });*@
            }
            function customError(xhr, status, error) {
                var err = xhr;
            }

            function modalClick(partialName, title) {                
                var url = '/Inspeccion/xxx'.replace("xxx", partialName);
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url + "/" + $("#hiddenId").val(), false);
                xhr.send();
                var text = '';
                if (title == '')    text = xhr.responseText.replace("name=\"idInspeccion\" value=\"\"", "name=\"idInspeccion\" value=\"" + $("#hiddenId").val() + "\"");
                else                text = xhr.responseText;
                document.getElementById("selectModal").innerHTML = text;
                //$("#selectModal").load(url, { id: $("#hiddenId").val() });
                InitPopup($("#selectModal"), title);
                $("#selectModal").dialog("open");
                $("#selectModal").dialog('widget').position({
                    my: "center", at: "center", of: "window"
                });
            }

            function modalPdf(id) {
                var url = '/Inspeccion/NoConfReport/' + id; 
                document.getElementById("pdf").src = url;
                setTimeout(function () { }, 2000);
                document.pdf.contentDocument.focus();
                document.pdf.contentDocument.print();
                //$("#selectModal").load(url, { id: $("#hiddenId").val() });
            }

            function InitPopup($element, title) {
                $element.dialog({
                    autoOpen: false,
                    width: "auto",
                    height: "auto",
                    resizable: true,
                    draggable: true,
                    title: title,
                    modal: true,
                    my: "center",
                    at: "center",
                    of: "window",
                    show: 'slide',
                    closeText: 'X',
                    dialogClass: 'alert',
                    closeOnEscape: true,
                    open: function (event, ui) {
                        $(".ui-widget-overlay").click(function () {
                            $("#selectModal").dialog("close");
                        });
                        @*var url = '@Url.Action("PartialAdjuntos")';
                        $element.load(url, { id: $("#hiddenId").val() });*@
                    },

                    close: function () {
                        $(this).dialog('close');
                    }
                });
            }

        </script>

		<!-- SPARKLINES -->
		<script src="~/js/plugin/sparkline/jquery.sparkline.min.js"></script>

        <!-- POSITION -->
		<script src="~/js/libs/jquery.ui.position.js"></script>

		<!-- JQUERY VALIDATE -->
		<script src="~/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="~/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="~/js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="~/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<!-- browser msie issue fix -->
		<script src="~/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<!-- FastClick: For mobile devices -->
		<script src="~/js/plugin/fastclick/fastclick.min.js"></script>

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<!-- Demo purpose only -->
		@*<script src="~/js/demo.min.js"></script>*@

		<!-- MAIN APP JS FILE -->
		@*<script src="~/js/app.min.js"></script>*@

		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
		<!-- Voice command : plugin -->
		@*<script src="~/js/speech/voicecommand.min.js"></script>*@

		<!-- PAGE RELATED PLUGIN(S) -->
		<script src="~/js/plugin/datatables/jquery.dataTables.min.js"></script>
		<script src="~/js/plugin/datatables/dataTables.colVis.min.js"></script>
		<script src="~/js/plugin/datatables/dataTables.tableTools.min.js"></script>
		<script src="~/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
		<script src="~/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

		<script type="text/javascript">

		    // DO NOT REMOVE : GLOBAL FUNCTIONS!

		    $(document).ready(function () {

		        pageSetUp();

		        /* // DOM Position key index //
            
                l - Length changing (dropdown)
                f - Filtering input (search)
                t - The Table! (datatable)
                i - Information (records)
                p - Pagination (paging)
                r - pRocessing 
                < and > - div elements
                <"#id" and > - div with an id
                <"class" and > - div with a class
                <"#id.class" and > - div with an id and class
                
                Also see: http://legacy.datatables.net/usage/features
                */

		        var responsiveHelper_datatable_fixed_column = undefined;

		        var breakpointDefinition = {
		            tablet: 1024,
		            phone: 480
		        };

		        /* COLUMN FILTER  */
		        var otable = $('#datatable_fixed_column').DataTable({
		            //"bFilter": false,
		            //"bInfo": false,
		            //"bLengthChange": false
		            //"bAutoWidth": false,
		            //"bPaginate": false,
		            //"bStateSave": true // saves sort state using localStorage
		            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		            "autoWidth": true,
		            "preDrawCallback": function () {
		                // Initialize the responsive datatables helper once.
		                if (!responsiveHelper_datatable_fixed_column) {
		                    responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
		                }
		            },
		            "rowCallback": function (nRow) {
		                responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
		            },
		            "drawCallback": function (oSettings) {
		                responsiveHelper_datatable_fixed_column.respond();
		            }

		        });

		        // custom toolbar
		        //$("div.toolbar").html('<div class="text-right"><img src="~/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

		        // Apply the filter
		        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

		            otable
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();

		        });
		        /* END COLUMN FILTER */


		        /* TABLETOOLS */
		        $('#datatable_tabletools').dataTable({

		            // Tabletools options: 
		            //   https://datatables.net/extensions/tabletools/button_options
		            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
		            "oTableTools": {
		                "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                           {
                               "sExtends": "pdf",
                               "sTitle": "SmartAdmin_PDF",
                               "sPdfMessage": "SmartAdmin PDF Export",
                               "sPdfSize": "letter"
                           },
                           {
                               "sExtends": "print",
                               "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                           }
		                ],
		                "sSwfPath": "~/js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
		            },
		            "autoWidth": true,
		            "preDrawCallback": function () {
		                // Initialize the responsive datatables helper once.
		                if (!responsiveHelper_datatable_tabletools) {
		                    responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
		                }
		            },
		            "rowCallback": function (nRow) {
		                responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
		            },
		            "drawCallback": function (oSettings) {
		                responsiveHelper_datatable_tabletools.respond();
		            }
		        });

		        /* END TABLETOOLS */

		    })

		</script>

		<!-- Your GOOGLE ANALYTICS CODE Below -->
		<script type="text/javascript">
		    var _gaq = _gaq || [];
		    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
		    _gaq.push(['_trackPageview']);

		    (function () {
		        var ga = document.createElement('script');
		        ga.type = 'text/javascript';
		        ga.async = true;
		        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		        var s = document.getElementsByTagName('script')[0];
		        s.parentNode.insertBefore(ga, s);
		    })();
		</script>

	@*</body>*@

@*</html>*@

