﻿@model MVCBase.NominadosDetalle

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NominadosDetalle</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idNominado, "Nominado", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idNominado", String.Empty)
                @Html.ValidationMessageFor(model => model.idNominado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idEmpresa, "Empresa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEmpresa", String.Empty)
                @Html.ValidationMessageFor(model => model.idEmpresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPuesto, "Puesto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPuesto", String.Empty)
                @Html.ValidationMessageFor(model => model.idPuesto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.anios, "Años", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.anios)
                @Html.ValidationMessageFor(model => model.anios)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
