﻿@model MVCBase.NominadosDetalle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NominadosDetalle</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.anios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresas.descripcionEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresas.descripcionEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nominados.nombreNominado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nominados.nombreNominado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puestos.descripcionPuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puestos.descripcionPuesto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idNominadosDetalle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
